<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matallana.alejandro.proyectofinalandroid1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vista.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.UsuarioActivity" />
        <activity android:name=".Vista.IntegranteActivity" />
        <activity android:name=".Vista.DirectorActivity" />
        <activity android:name=".Vista.CargoActivity" />
        <activity android:name=".Vista.ListaCargosActivity" />
        <activity android:name=".Vista.ListaProyectoActivity" />
        <activity android:name=".Vista.GestionProyectoActivity" />
        <activity android:name=".Vista.MenuProyectosActivity" />
        <activity android:name=".Vista.ListaTareasActivity" />
        <activity android:name=".Vista.MenuActividadesActivity" />
        <activity android:name=".Vista.TareaActivity" />
        <activity android:name=".Vista.MenuTareasActivity" />
        <activity android:name=".Vista.ListaRecursosActivity" />
        <activity android:name=".Vista.ActividadesActivity" />
        <activity android:name=".Vista.ListaActividadesActivity" />
        <activity android:name=".Vista.ListaIntegrantesActivity" />
        <activity android:name=".Vista.ListaAgregarIntegranteActivity" />
        <activity android:name=".Vista.DatosIntegranteProyectoActivity" />
        <activity android:name=".Vista.RecursoActivity" />
        <activity android:name=".Vista.MenuRecursosActivity" />
        <activity android:name=".Vista.ListaRecursosTareasActivity" />
        <activity android:name=".Vista.ListaComentariosActivity" />
        <activity android:name=".Vista.ComentarioActivity"></activity>
    </application>

</manifest>